h1,h2,h3, h4 {
	text-align: center;
}

.intro-header{
	height: 400px;
	background-size: cover;
	position: relative;
	margin-bottom: 20px;
	background: #03A9F4;
}

.intro-header .intro-header-content {
	position: absolute;
	color: #FFF;
	top: 35%;
	left: 35%;
}

#define, #interact {
	border-bottom: 1px solid #000;
	padding-bottom: 20px;
}