@import url(http://fonts.googleapis.com/css?family=Abel|Open+Sans|Oswald);

body {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 5%;
}

h1,h2,h4 {
	text-align: center;
	letter-spacing: 1.5;
}

h1, h2 {
	font-family: 'Oswald', sans-serif;
}

h4 {
	font-family: 'Abel', sans-serif;
}

p { 
	line-height: 1.5;
	font-family: 'Open Sans', sans-serif;
}

.center {
	 display: block;
  	margin-left: auto;
  	margin-right: auto;
}

span {
	font-size: 1.5em;
}

label {
	text-align: center;
}

.text-center {
	text-align: center;
}

.button-link {
    padding: 10px 15px;
    background: #607D8B;
    color: #FFF;
    font-family: 'Oswald', sans-serif;
}
