<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav2.html %}
    <div id="post">
    	<div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>{{page.title}}</h1>
                    <h2>{{page.subtitle}}</h2>
                    <h4>{{page.date | date: "%B %d, %Y"}}</h4>
                </div>
            </div>
            <div class="row">
                {{ content }}
            </div>
            <a class="button-link" href="/blog">Go Back</a>
        </div>
    </div>
    </body>
</html>
